{% extends 'todo/base.html' %}
{% load staticfiles %}
<!-- page title -->
{% block page-title %}ToDo| {{ block.super }}{% endblock %}

<!-- main content -->
{% block main-content %}
<section id="todolist">
    <ul class="collection" v-show="tasks">
        <li class="collection-item"
            v-for="(task, index) in tasks"
            v-bind:key="task.id">

            <div class="row">

                <div class="col m1">
                    <a v-on:click="doneTask(index, task.id, task.description)" v-if="!task.done" href="#">
                        <i class="material-icons left grey-text text-lighten-1">check_box_outline_blank</i>
                    </a>
                    <a v-on:click="undoneTask(index, task.id, task.description)" v-if="task.done" href="#">
                        <i class="material-icons left green-text text-lighten-1">check_box</i>
                    </a>
                </div>

                <div class="col m1">
                        <input type="number" pattern="/^[0-9]+$/" v-model="task.index" v-on:keyup="edit = true" v-on:blur="edit = true" v-on:paste="edit = true" v-on:delete="edit = true" v-on:focus="edit = true">
                </div>

                <div class="col m7">
                    <input type="text" v-model="task.description" v-on:keyup="edit = true" v-on:blur="edit = true" v-on:paste="edit = true" v-on:delete="edit = true" v-on:focus="edit = true">
                </div>

                <div class="col m3">
                    <a v-on:click="deleteTask(index, task.id)" href="#">
                        <i class="material-icons right red-text text-darken-2 transparent">delete</i>
                    </a>
                    <a v-on:click="editTask(task.id, task.description, task.index)" href="#" v-if="edit">
                        <i class="material-icons right green-text text-accent-3 transparent">save</i>
                    </a>
                </div>

            </div>

        </li>
    </ul>


        <input class="white save" v-model="description" placeholder="Digite uma tarefa">
        <button type="button" class="btn waves-effect  green accent-3" v-on:click="addTask(description)">Adicionar</button>
   
</section>
{% endblock %}

{% block js-body %}
    <script src="{% static 'js/todo.js' %}"></script>
{% endblock %}
