.brand-logo img {
    width: 100px;
}

#todolist .collection .row {
    margin-bottom: 0 !important;
}

/* Form style */

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea,
.select-wrapper input.select-dropdown {
    border: solid 1px #d0d0d0;
    border-radius: 3px;
    box-shadow: 0 1px 1px #dddddd;
    padding-left: 10px;
    height: 2.5rem;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border: 1px solid #01579b;
    box-shadow: 0 1px 0 0 #01579b;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:focus:not([readonly])+label,
input[type=password]:focus:not([readonly])+label,
input[type=email]:focus:not([readonly])+label,
input[type=url]:focus:not([readonly])+label,
input[type=time]:focus:not([readonly])+label,
input[type=date]:focus:not([readonly])+label,
input[type=datetime]:focus:not([readonly])+label,
input[type=datetime-local]:focus:not([readonly])+label,
input[type=tel]:focus:not([readonly])+label,
input[type=number]:focus:not([readonly])+label,
input[type=search]:focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #01579b;
}

[type="checkbox"]:checked+label:before {
    border-bottom: 2px solid #01579b;
    border-right: 2px solid #01579b;
    top: 0;
    left: -5px;
    width: 10px;
    height: 17px;
}

.input-field label, .input-field label.active {
    font-size: .8rem !important;
    -webkit-transform: translateY(-180%);
    transform: translateY(-180%);
}

.select-wrapper+label {
    top: 0.8rem;
}
